<!DOCTYPE html>
<html>
<head>
	<title>전체 신청 현황</title>
	<link rel="stylesheet" type="text/css" href="overview.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
	<div class="maintitle" align="center">
		<p>전체 신청 현황</p>
	</div>
	<input type="button" onClick="location.href='/'" class="home_button" value="홈으로">
	<div class="mainbox">
		<h3> 1. 주제강의/성서강해 </h3>
		<% if (biblelist.length > 1) { %>
			<div class="firstitem" id="col">
				<p class="firstitem_title">아직 신청 안함</p>
				<% for (n=1; n< biblelist[0].length; n++) { %><p class="person"><%= biblelist[0][n].name %>(<%= biblelist[0][n].campus %>)</p><% } %>
			</div>
			<% for (x=1; x< biblelist.length; x++) { %>
			<div class="item" id="col">
				<p class="item_title"><%= biblelist[x][0] %></p>
				<% for (n=1; n< biblelist[x].length; n++) { %><p class="person2"><%= biblelist[x][n].name %>(<%= biblelist[x][n].campus %>)</p><% } %>
			</div>
			<% } %>
		<% } else { %>
			<p style="font-size: 30px"> 강의가 없습니다 </p>
		<% } %>
	</div>
	<hr class="line"/>
	<div class="mainbox">
		<h3> 2. 선택강의 </h3>
		<% if (classlist.length > 1) { %>
			<div class="firstitem" id="col">
				<p class="firstitem_title">아직 신청 안함</p>
				<% for (n=1; n< classlist[0].length; n++) { %><p class="person"><%= classlist[0][n].name %>(<%= classlist[0][n].campus %>)</p><% } %>
			</div>
			<% for (x=1; x< classlist.length; x++) { %>
			<div class="item" id="col">
				<p class="item_title"><%= classlist[x][0] %></p>
				<% for (n=1; n< classlist[x].length; n++) { %><p class="person2"><%= classlist[x][n].name %>(<%= classlist[x][n].campus %>)</p><% } %>
			</div>
			<% } %>
		<% } else { %>
			<p style="font-size: 30px"> 강의가 없습니다 </p>
		<% } %>
	</div>
</body>
</html>